<section class="show_user_posts d-flex flex-column">
    <h2 class="mx-auto text-secondary mb-3">All Posts</h2>
    <div class= "post-details post-border mt-2">
           <div class="d-flex align-items-center">

                <h2>Post #<%= @post.id%> by: <%= @post.title%></h2>  
                <% if can? :distroy, @post %>
                    <%= link_to user_post_path(@user.id, @post.id), method: :delete, class: "" do %>
                        <span class="m-3 badge bg-danger"><span class=""> <i class="fas fa-trash-alt"></i> </span>Delete</span>
                    <% end %>
                <% end %>
           </div>

            
            <div class="comment-num"><span class="m-2"> Comments: <%= @post.comments.count%>,</span> 
             <%= link_to user_post_likes_path(@user.id, @post.id), method: :post, class: "mx-auto justify-self-center" do %>
                <span class=""> <i class="<%= @post.liked || @post.likes.count == 0 ? "far fa-heart fa-2x" : "fas fa-heart fa-2x"%>"></i> </span>
                
               <span><%= @post.likes.count-1 <= 0 ? 0 :  @post.likes.count-1%></span>
             <% end %>
             
             </div>
        <p class="m-2">
            <%= @post.text%>
        </p>
    </div>
    <div class="post-border mt-2">
        <%@comments.each do |comment|%>
            <div class="comment d-flex my-2 justify-content-between w-100">
                 <div>Anderson lebon<%= comment.id %> : 
                        <span> 
                         <%= comment.text %>
                    </span>
                </div>
                <% if can? :distroy, comment %>
                    <%= link_to user_post_comment_path(@user.id, @post.id, comment.id), method: :delete, class: "" do %>
                        <div class=" badge bg-danger"><span class=""> <i class="fas fa-trash-alt"></i> </span>Delete</div>
                    <% end %> 
                <% end %>             
            </div>
        <% end %>
    </div>
    
 
        <%= link_to 'Add a comment', new_user_post_comment_path(@user.id, @post.id), class: "mx-auto my-3 justify-self-center btn btn-primary" %>
</section>

