<section class="show_user_posts">
    <div class= "post-details post-border mt-2">
            <h2>Post #<%= @post.id%> by: <%= @post.title%></h2>
            <div class="comment-num">Comments: 10, Likes:  <%= @post.likes.count%></div>
        <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet,\adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.

        </p>
    </div>
    <div class="post-border mt-2">
        <%@comments.each do |i|%>
            <div class="comment">                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                <h5>Anderson lebon<%= i.text %>: 
                    <span> comment<%= i.text %></span>
                </h5>
            </div>
        <% end %>
    </div>
    
    

    <%= link_to "like", user_post_likes_path(@user.id, @post.id), method: :post %>
       
 <%
=begin%>
 <form action="<%= @post.id%>/likes" method="post">
             <input value="<%= @post.id%>" type="hidden">
             <input value="<%= @user.id%>" type="hidden">
            <button type="submit" class="btn btn-primary">Like</button>
        </form>   
<%
=end%>

<%
=begin%>
 
<%= form_with(model: @like, url: { action: "create" }) do |form| %>

    <div class="form-group">
        <%= form.label :text %>
        <%= form.text_field :post_id, class: "form-control" value: @post.id %>  
    </div>
    <div class="form-group">
        <%= form.submit "Like", class: "btn btn-primary" %>
    </div>

<% end %> 
<%
=end%>




        <%= link_to 'See all posts', new_user_post_comment_path(@user.id, @post.id), class: "mx-auto justify-self-center btn btn-dark" %>
</section>

