<section class="show_user_posts">
    <div class= "post-details post-border mt-2">
            <h2>Post #<%= @post.id%> by: <%= @post.title%></h2>
            <div class="comment-num">Comments: <%= @post.comments.count%>, 
             <%= link_to "like", user_post_likes_path(@user.id, @post.id), method: :post, class: "mx-auto justify-self-center"%>: 
             <%= @post.likes.count%>
             
             </div>
        <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet,\adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.
            dolor sit amet, consectetur adipisicing elit.
            lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem*ipsum dolor sit amet, consectetur adipisicing elit.

        </p>
    </div>
    <div class="post-border mt-2">
        <%@comments.each do |i|%>
            <div class="comment">                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                <h5>Anderson lebon<%= i.text %>: 
                    <span> comment<%= i.text %></span>
                </h5>
            </div>
        <% end %>
    </div>
    <div class="button d-flex my-3">
        <%= link_to 'Add a comment', new_user_post_path(@user.id), class: "btn btn-dark" %>
        <%= link_to 'See all posts', new_user_post_comment_path(@user.id, @post.id), class: "mx-auto justify-self-center btn btn-dark" %>
    </div>
</section>

